body{
    background-color: black
    height; 100vw;
    width: 100vh;
    overflow:hidden;
    display:flex;
    flex-direction: row;

}

.img{
    display:flex;
    width: 50%;
    height: 100%;
    margin:1% 1% 1% 1%;
    background: url();


}